<!doctype html>
<head>
<meta charset="utf-8">

<title>Enrollment Form</title>

<meta name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

<!--  <link rel="stylesheet" href="style/enrollment_forms.css">-->

<link type="text/css" rel="stylesheet" href="style/bootstrap.css"/>

<link type="text/css" rel="stylesheet" href="style/beni.css"/>

<script src="js/vendor/jquery-1.7.min.js"></script>
<script src="js/vendor/zepto.min.js"></script>
<script src="js/vendor/underscore.js"></script>
<script src="js/vendor/backbone.js"></script>
<script src="js/beni.js?1"></script>
<script src="js/JSBridge.js?5"></script>
<script src="js/vendor/backbone.modelbinding.js"></script>


<script type="text/template" id="editform-template">

    <div>
        <div class="row">

            <div class="span7"><h1>Primary Beneficiaries</h1>

                <div class="helpText">Please add.... ..... ..... ..... ..... ..... ..... ..... ..... ..... ..... ..... ..... ..... ..... ..... ..... ..... ..... ..... ..... ..... ..... ..... ..... ..... ..... ..... .....
                </div>
            </div>
            <div class="span1 well primaryTotalSelected">
                <div>Total Selected</div>
                <span class="percent"><%= beniPercent %>%</span>
            </div>
        </div>
        <div>
            <button class="btn btn-inverse btn-large" href="#">
                <i class="icon-plus icon-white"></i> ADD BENEFICIARY
            </button>

        </div>
        <div class="row well">
            <div class="span5">
                <h3><%= lastName %>, <%= firstName %></h3>

            </div>
            <div class="span2"><a class="btn btn-danger" href="#">Delete</a></div>

            <div class="input-append">
                <input class="input-mini beniPercent" id="beniPercent" size="3" type="text"><span
                    class="add-on">%</span>
            </div>
            <div class="row">
                <div class="span8 well">
                    <form class="form-horizontal ">

                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="firstName">First Name</label>

                                <div class="controls">
                                    <input class="input-xlarge focused" id="firstName" type="text"
                                           value="" placeholder="Enter First Name">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="middleName">Middle Name</label>

                                <div class="controls">
                                    <input class="input-xlarge focused" id="middleName" type="text"
                                           value="" placeholder="Enter Middle Name">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="middleName">Last Name</label>

                                <div class="controls">
                                    <input class="input-xlarge focused" id="lastName" type="text"
                                           value="" placeholder="Enter Last Name">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="ssn">Social Security Number</label>

                                <div class="controls">
                                    <div class="input">
                                        <div class="inline-inputs">
                                            <input class="span1" type="number" value=""/>
                                            <input class="span1" type="number" value=""/>
                                            <input class="span1" type="number" value=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="middleName">Relationship</label>

                                <div class="controls">
                                    <select name="relationship" id="relationship">
                                        <option>Daughter</option>
                                        <option>Son</option>
                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="middleName">Date of Birth</label>

                                <div class="controls">
                                    <input id="dob" class="small" type="date" value=""/>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="middleName">Address Line 1</label>

                                <div class="controls">
                                    <input class="input-xlarge focused" id="address1" type="text"
                                           value="" placeholder="Enter Last Name">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="middleName">Address Line 2</label>

                                <div class="controls">
                                    <input class="input-xlarge focused" id="address2" type="text"
                                           value="" placeholder="Enter Last Name">
                                </div>
                            </div>


                            <div class="control-group">
                                <label class="control-label" for="middleName">City</label>

                                <div class="controls">
                                    <select name="relationship" id="city">
                                        <option>Greensboro</option>
                                        <option>Chicago</option>
                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="middleName">State</label>

                                <div class="controls">
                                    <select name="relationship" id="state">
                                        <option>NC</option>
                                        <option>IL</option>
                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="middleName">Country</label>

                                <div class="controls">
                                    <select name="relationship" id="country">
                                        <option>USA</option>
                                        <option>Canada</option>
                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="middleName">Zip</label>

                                <div class="controls">
                                    <input class="input-xlarge focused" id="zip" type="text"
                                           value="" placeholder="Enter Zip COde">
                                </div>
                            </div>

                            <form class="form-horizontal well">

                                <fieldset>
                                    <div class="control-group">
                                        <label class="control-label" for="middleName">Percentage</label>

                                        <div class="controls">
                                            <div class="input-append">
                                                <input class="input-mini beniPercent" id="beniPercent" size="3" type="text"><span
                                                    class="add-on">%</span>
                                            </div>
                                            <input id="test" type="range"/>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>

                        </fieldset>
                    </form>
                </div>

            </div>
        </div>
    </div>
    </div>
</script>

</head>

<body>
<div id="container">
    <div id="editform"></div>

</div>

</body>
</html>
