<!doctype html>
<head>
    <meta charset="utf-8">

    <title>Enrollment Form</title>

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

  <!--  <link rel="stylesheet" href="style/enrollment_forms.css">-->

    <link type="text/css" rel="stylesheet" media="only screen and (max-device-width: 480px)" href="style/iphone.css"/>

    <script src="js/vendor/jquery-1.7.min.js"></script>
    <script src="js/vendor/zepto.min.js"></script>
    <script src="js/vendor/underscore.js"></script>
    <script src="js/vendor/backbone.js"></script>
    <script src="js/enrollment_forms_binding.js?1"></script>
    <script src="js/vendor/backbone.modelbinding.js"></script>

    <script type="text/template" id="viewform-template">
        <span><%= firstName %></span>
        <span><%= lastName %></span>
    </script>

    <script type="text/template" id="editform-template">
        <form id="edit-form">
            <span><input type="text" id="firstName" value="<%= firstName %>"></span>
            <span><input type="text" id="lastName" value="<%= lastName %>"></span>
            <span><input type="text" id="middleName" value="<%= middleName %>"></span>
            <span><input type="text" id="email" value="<%= email %>"></span>
        </form>
    </script>

</head>

<body>
<div id="container">
    <div id="editform"></div>
    <div id="viewform"></div>
</div>

<div>
    <button id="addRec">Add</button>
</div>
</body>
</html>
